<div>
    <h1>{{type}}</h1>
    <ul class="asset-view">
        <div>Host Name: {{host_name}}</div>
        <div>IP Address: {{ip_address}}</div>
        <div>Subnet Mask: {{subnet_mask}}</div>
        <div>Default Gateway: {{default_gateway}}</div>
        <div><img src="{{image}}" alt="{{type}}"></div>
        <div>Live: {{live}}</div>
        <a href="/assets/edit/{{id}}">Edit</a>

        {{!-- {{#each assetts}}
        <li>
            <p>{{type}}</p>
        </li>
        <li>
            <p>{{host_name}}</p>
        </li>
        <li>
            <p>{{ip_address}}</p>
        </li>
        <li>
            <p>{{subnet_mask}}</p>
        </li>
        <li>
            <p>{{default_gateway}}</p>
        </li>
        <li>
            <img src="{{image}}" alt="{{type}}">
        </li>
        <li>
            <p>{{live}}</p>
        </li>
        {{/each}}
    </ul> --}}
</div>